$bgCol: #bbf5f2;
$pCol: #555;

html {
  font-family: sans-serif;
  color: $pCol;
}

body {
  margin: 0;
  padding: 0;
  background: $bgCol;
  h1, p {
    margin: 0;
  }
  button {
    margin: 20px;
    border: none;
    padding: 10px 20px;
    background: #00ced1;
    color: #fff;
    font-size: 20px;
  }
}